.sbu-Сhat-window {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  box-sizing: border-box;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  z-index: 10000;
  justify-content: space-between;
  box-shadow: 0 0 15px #000;
}

@media only screen and (max-width: 500px) and (orientation: portrait),
  only screen and (max-height: 500px) and (orientation: landscape) {
  .sbu-nav__change-size {
    display: none;
  }
  .sbu-Сhat-window {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .sbu-body__box {
    padding: 0 10px 20px 10px;
  }
}
