.sbu-user-message {
  display: flex;
  max-width: 100%;
  justify-content: flex-end;
  align-items: start;
  margin-bottom: 0;

  &__wrapper {
    display: flex;
    max-width: calc(100% - 60px);
    justify-content: right;
    flex-direction: column;
  }
  &__icon {
    min-width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    img {
      width: 45px;
      height: 45px;
    }
  }

  .sbu-wrapper__message {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 14px;
    border-radius: 30px;
    max-width: 100%;
    padding: 10px 15px 10px 15px;
    word-wrap: break-word;
    white-space: pre-line;
  }
}
