.sbu-Chat-icon__message {
  height: 21px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 5px 10px !important;
  margin-right: 10px;
  word-break: break-word;
  white-space: nowrap;

  span {
    font-family: Roboto, sans-serif;
    font-size: 12px;
  }
}
