.resizable-layout {
  display: flex;
  flex: auto;
  border-radius: 4px;
  box-shadow: 0 0 4px 4px #99aab5;
  overflow: hidden;
  flex-direction: column;
  background: black;
  width: 500px;
  height: 300px;
  min-width: 245px;
  min-height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;

  .resizers {
    .top {
      position: absolute;
      user-select: none;
      width: 100%;
      height: 10px;
      top: -5px;
      left: 0;
      cursor: row-resize;
    }

    .right {
      position: absolute;
      user-select: none;
      width: 10px;
      height: 100%;
      top: 0;
      right: -5px;
      cursor: col-resize;
    }

    .bottom {
      position: absolute;
      user-select: none;
      width: 100%;
      height: 10px;
      bottom: -5px;
      left: 0;
      cursor: row-resize;
    }

    .left {
      position: absolute;
      user-select: none;
      width: 10px;
      height: 100%;
      top: 0;
      left: -5px;
      cursor: col-resize;
    }

    .resizer {
      .top-right {
        right: -5px;
        top: -5px;
        cursor: nesw-resize;
      }

      .top-left {
        left: -5px;
        top: -5px;
        cursor: nwse-resize;
      }

      .bottom-left {
        left: -5px;
        bottom: -5px;
        cursor: nesw-resize;
      }

      .bottom-right {
        right: -5px;
        bottom: -5px;
        cursor: nwse-resize;
      }
    }

    .resizer {
      &.top-right {
        position: absolute;
        user-select: none;
        width: 20px;
        height: 20px;
        right: -10px;
        top: -10px;
        cursor: ne-resize;
      }

      &.top-left {
        position: absolute;
        user-select: none;
        width: 20px;
        height: 20px;
        left: -10px;
        top: -10px;
        cursor: nw-resize;
      }

      &.bottom-left {
        position: absolute;
        user-select: none;
        width: 20px;
        height: 20px;
        left: -10px;
        bottom: -10px;
        cursor: sw-resize;
      }

      &.bottom-right {
        position: absolute;
        user-select: none;
        width: 20px;
        height: 20px;
        right: -10px;
        bottom: -10px;
        cursor: se-resize;
      }
    }
  }
}
